<lsc-back-menu></lsc-back-menu>

<!-- <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col">Auteur</th>
      <th scope="col">Temps de préparation</th>
      <th scope="col">Temps de cuisson</th>
      <th scope="col">Temps total</th>
      <th scope="col">Note</th>
      <th scope="col">Publié</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let recipe of recipes">
      <td class="checkit"><mat-checkbox></mat-checkbox></td>
      <th scope="row">{{recipe.id}}</th>
      <td>{{recipe.title}}
        <span class="badge badge-primary badge-pill"> {{recipe.ingredients.length}}</span>
      </td>
      <td>{{recipe.description}}</td>
      <td>{{recipe.author.name}}{{recipe.author.firstname}}</td>
      <td>{{recipe.preparation}}</td>
      <td>{{recipe.cook}}</td>
      <td>{{recipe.readyin}}</td>
      <td>{{recipe.rating}}</td>
      <td class="published"> 
        <i [ngClass]="{'fas fa-check-square':recipe.published,
          'far fa-square':!recipe.published}"></i>
      </td>
    </tr>
  </tbody>
</table> -->
<div class="clear">
    <mat-form-field class="left">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-paginator class="right" [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
</div>

<div class="clear">

    <mat-table #table [dataSource]="dataSource" matSort>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <!-- id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- title Column -->
        <ng-container matColumnDef="title">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Titre </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.title}} </mat-cell>
        </ng-container>

        <!-- description Column -->
        <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>

        <!-- published  Column -->
        <ng-container matColumnDef="published">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Publié </mat-header-cell>
            <mat-cell *matCellDef="let row">  <i [ngClass]="{'fas fa-check-square':row.published,
              'far fa-square':!row.published}"></i>  </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="selection.toggle(row)" (click)="selection.toggle(row)"> -->
      <mat-row *matRowDef="let row; columns: displayedColumns;"  (dblclick)="toto()">
        </mat-row>

    </mat-table>
</div>
  
  
  <!-- Copyright 2017 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->