<lsc-back-menu></lsc-back-menu>

<div *ngIf="!isLoading">
    <div class="form">
        <form [formGroup]="categoryForm" >

            <mat-slide-toggle formControlName="published"> Publié </mat-slide-toggle>

            <mat-form-field class="example-full-width">
                <input formControlName="title" matInput placeholder="Titre">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input formControlName="description" matInput placeholder="Description">
            </mat-form-field>
        </form>
        
        <div *ngIf="categoryForm.value.id" >
            <button type="button" (click)="save()" class="btn btn-success"> Modifier </button>
            <button type="button" (click)="delete()" class="btn btn-danger"> Supprimer </button>
        </div>
        <div *ngIf="!categoryForm.value.id">
            <button   (click)="addCategory()" type="button" class="btn btn-primary"> Enregistrer </button>
        </div>
    </div>
</div>