<lsc-back-menu></lsc-back-menu>

<div class="form">

  <h1>Auteur</h1>

  <div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Prénom">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Nom">
    </mat-form-field>
  </div>

  <div>
    <button type="button" class="btn btn-success"> Modifier </button>
    <button type="button" class="btn btn-danger"> Archiver </button>
  </div>

  <div>
    <button type="button" class="btn btn-primary"> Enregistrer </button>
  </div>

</div>