<nav class="navbar navbar-expand-lg navbar-dark bg-danger fixed-bottom">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dev-menu" aria-controls="dev-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="dev-menu">
    <ul class="navbar-nav mr-auto">

        <li class="nav-item dropup">
        <a class="nav-link dropdown-toggle"  id="navbarFrontEndMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Front Office
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarFrontEndMenuLink">
          <a class="dropdown-item" href="#" routerLink="/login">login</a>
          <a class="dropdown-item" href="#" routerLink="/">HomePage</a>
        </div>
      </li>

      <li class="nav-item dropup">
        <a class="nav-link dropdown-toggle"  id="navbarBackEndMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Back Office
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarBackEndMenuLink">
          <a class="dropdown-item" href="#" routerLink="/administration">administration</a>
          <a class="dropdown-item" href="#" routerLink="/receipts">receipts</a>
          <a class="dropdown-item" href="#" routerLink="/ingredients">ingredients</a>
          <a class="dropdown-item" href="#" routerLink="/books">books</a>
        </div>
      </li>

      <a class=" nav-link" target="_blank" href="https://getbootstrap.com/docs/4.0/components/alerts/" >Bootstrap</a>
      <a class=" nav-link" target="_blank" href="https://github.com/Solonel/FillMyFridge" >GitHub Repo.</a>
      <a class=" nav-link" target="_blank" href="https://material.angular.io/components/categories" >Angular Material</a>
  
    </ul>
  </div>
</nav>