<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#" routerLink='/'>Home</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link">Test premier lien</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li *ngIf="!auth.userIsLoggedIn()" class="nav-item">
        <a class="nav-link" href="#" routerLink="/login">Se connecter</a>
      </li>
      <li *ngIf="auth.userIsLoggedIn()" class="nav-item">
        <a class="nav-link" href="#" (click)='auth.logOut()'>Se déconnecter</a>
      </li>
    </ul>
  </div>
</nav>