<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dev-menu" aria-controls="dev-menu" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="dev-menu">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" href="#" routerLink="/administration">
          <i class="fas fa-home"></i>
        </a>
      </li>
      <!-- <li>
        <a class="nav-link" href="#" routerLink="/books">Livres</a>
      </li> -->
      <li>
        <a class="nav-link" href="#" routerLink="/categories">Catégories</a>
      </li>
      <li>
        <a class="nav-link" href="#" routerLink="/recipes">Recettes</a>
      </li>
      <li>
        <a class="nav-link" href="#" routerLink="/ingredients">Ingrédients</a>
      </li>
      <li>
        <a class="nav-link" href="#" routerLink="/units">Unités</a>
      </li>
      <!-- <li>
        <a class="nav-link" href="#" routerLink="/authors">Auteurs</a>
      </li> -->

    </ul>
  </div>
</nav>