<lsc-front-menu></lsc-front-menu>

<form [formGroup]="shoppingListForm">
  <div formArrayName="configs">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let config of configs.controls; let i=index" [formGroupName]="i">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="{{i}}">Nombre de personne</span>
          </div>
          <input type="text" class="form-control" aria-label="Nombre de personne" formControlName="nbPers" aria-describedby="i">
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="{{i}}">Catégorie</span>
          </div>
          <input type="text" class="form-control" aria-label="Catégorie" formControlName="category" aria-describedby="i">
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="{{i}}">Nombre de repas</span>
          </div>
          <input type="text" class="form-control" aria-label="Nombre de repas" formControlName="nbMeal" aria-describedby="i">
        </div>
      </li>
    </ul>
  </div>
  <button class="btn btn-primary" type="button" (click)="generateList(shoppingListForm.value)">Prépare ma liste</button>
</form>




<!-- 

<div>
  <div>
    <label for="nbPers">Nombre de personnes</label>
    <input type="number" id="nbPers" class="form-control" placeholder="Nombre de personnes">
  </div>
  <div class="form-group">
    <label for="cat">Example select</label>
    <select class="form-control" id="cat">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div>
    <label for="nbMeal">Nombre de repas</label>
    <input type="number" id="nbMeal" class="form-control" placeholder="Nombre de repas">
  </div>
</div> -->