<lsc-front-menu></lsc-front-menu>

<form [formGroup]="shoppingListForm">

  <div formGroupName="configs">
    <ul class="list-group">
      <li class="list-groupe-item" *ngFor="let config of addedConfigs">
        <div class="container">
          <div class="row">
            <div class="col-md-3">

              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm-1">Small</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" formControlName="nbPers" aria-describedby="inputGroup-sizing-sm">
              </div>

            </div>
            <div class="col-md-6">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm-2">Small</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm-3">Small</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <button class="btn btn-primary" type="button" (click)="generateList(shoppingListForm.value)">Prépare ma liste</button>

</form>




<!-- 

<div>
  <div>
    <label for="nbPers">Nombre de personnes</label>
    <input type="number" id="nbPers" class="form-control" placeholder="Nombre de personnes">
  </div>
  <div class="form-group">
    <label for="cat">Example select</label>
    <select class="form-control" id="cat">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div>
    <label for="nbMeal">Nombre de repas</label>
    <input type="number" id="nbMeal" class="form-control" placeholder="Nombre de repas">
  </div>
</div> -->