<lsc-back-menu></lsc-back-menu>

<!-- export class Ingredient {
    id: number;
    locale: IngredientLocale;
    icon: string;
}
export class IngredientLocale {
    [key: string]: IngredientLocaleDetail;
}
export class IngredientLocaleDetail {
    title: Pluralization;
    description: string;
    available: boolean;
}
export class Pluralization {
    singular: string;
    plural: string;
} -->

<div class="form">

    <h1>Ingrédient</h1>
    <div *ngIf="!isLoading">

        <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()" novalidate>

            <mat-form-field class="example-full-width">
                <input formControlName="id" matInput type="number" placeholder="Id">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input formControlName="icon" matInput placeholder="Icon">
            </mat-form-field>

            <div formGroupName="locale">

                <mat-tab-group>
                    <!-- TODO - On boucle sur la liste des langues de l'ingredient -->
                    <mat-tab *ngFor="let language of ingredientLanguages" formGroupName="{{language.id}}" label={{language.label}}>

                        <mat-form-field class="example-full-width">
                            <input type="text" class="text" matInput placeholder="description" formControlName='description'>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input type="text" class="text" matInput placeholder="available" formControlName='available'>
                        </mat-form-field>


                        <div formGroupName="title">
                            <mat-form-field class="example-full-width">
                                <input type="text" class="text" matInput placeholder="plural" formControlName='plural'>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input type="text" class="text" matInput placeholder="singular" formControlName='singular'>
                            </mat-form-field>
                        </div>

                    </mat-tab>
                    <mat-tab label="AJOUTER LANGUE">

                    </mat-tab>
                </mat-tab-group>
            </div>

            <button type="submit" class="btn btn-success">Save</button>
        </form>

    </div>

</div>