<lsc-back-menu></lsc-back-menu>

<div class="form">

    <h1>Ingrédient</h1>
    <div *ngIf="!isLoading">

        <form [formGroup]="ingredientForm" novalidate>

            <mat-form-field class="example-full-width">
                <input formControlName="id" matInput type="number" placeholder="Id">
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input formControlName="icon" matInput placeholder="Icon">
            </mat-form-field>

            <hr>

            <div formGroupName="locale">

                <mat-tab-group>

                    <mat-tab *ngFor="let language of ingredientLanguage" formGroupName="{{language.id}}" label={{language.label}}>

                        <mat-form-field class="example-full-width">
                            <input type="text" class="text" matInput placeholder="description" formControlName='description'>
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <input type="text" class="text" matInput placeholder="available" formControlName='available'>
                        </mat-form-field>


                        <div formGroupName="title">
                            <mat-form-field class="example-full-width">
                                <input type="text" class="text" matInput placeholder="plural" formControlName='plural'>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input type="text" class="text" matInput placeholder="singular" formControlName='singular'>
                            </mat-form-field>
                        </div>

                    </mat-tab>
                    <mat-tab label="Ajouter langue">

                    </mat-tab>
                </mat-tab-group>
            </div>

            <hr>

            <div *ngIf="!ingredientForm.value.id">
                <button (click)="add()" type="button" class="btn btn-primary"> Enregistrer </button>
            </div>

            <div *ngIf="ingredientForm.value.id">
                <button type="button" (click)="save()" class="btn btn-success"> Modifier </button>
                <button type="button" (click)="delete()" class="btn btn-danger"> Supprimer </button>
            </div>

        </form>

    </div>

</div>