<lsc-back-menu></lsc-back-menu>

<div class="form">

    <h1>Ingrédient</h1>
    <div *ngIf="!isLoading">

        <form [formGroup]="ingredientForm" novalidate>

            <mat-form-field *ngIf="ingredientForm.value.id">
                <input readonly formControlName="id" matInput type="number" placeholder="Id">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Icône</mat-label>
                <input formControlName="icon" matInput placeholder="Icône">
            </mat-form-field>

            <hr>

            <div formGroupName="locale">

                <mat-tab-group>

                    <mat-tab *ngFor="let language of implementedLanguage" formGroupName="{{language.id}}" label={{language.label}}>

                        <mat-card>
                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <input type="text" class="text" matInput placeholder="Description" formControlName='description'>
                            </mat-form-field>

                            <mat-slide-toggle placeholder="available" formControlName="available"> Disponible </mat-slide-toggle>
                        </mat-card>

                        <div formGroupName="title">
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title>Titre</mat-card-title>
                                </mat-card-header>
                                <mat-card-content>
                                    <mat-form-field>
                                        <mat-label>Singulier</mat-label>
                                        <input type="text" matInput placeholder="Singulier" formControlName='singular'>
                                    </mat-form-field>
                                    <mat-form-field>
                                        <mat-label>Pluriel</mat-label>
                                        <input type="text" matInput placeholder="Pluriel" formControlName='plural'>
                                    </mat-form-field>
                                </mat-card-content>
                            </mat-card>
                        </div>

                    </mat-tab>
                    <mat-tab label="Ajouter langue">
                        <mat-card>
                            <mat-form-field>
                                <mat-select placeholder="Langue" [(value)]="newLanguageId" (change)="addNewLanguage(newLanguageId)">
                                    <mat-option *ngFor="let language of notImplementedLanguage" [value]="language.id">
                                        {{ language.label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card>

                        <div formGroupName="{{newLanguageId}}" *ngIf="isNewLanguageReady">
                            <mat-card>
                                <mat-form-field>
                                    <mat-label>Description</mat-label>
                                    <input type="text" class="text" matInput placeholder="Description" formControlName='description'>
                                </mat-form-field>

                                <mat-slide-toggle placeholder="available" formControlName="available"> Disponible </mat-slide-toggle>
                            </mat-card>

                            <div formGroupName="title">
                                <mat-card>
                                    <mat-card-header>
                                        <mat-card-title>Titre</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <mat-form-field>
                                            <mat-label>Singulier</mat-label>
                                            <input type="text" class="text" matInput placeholder="Singulier" formControlName='singular'>
                                        </mat-form-field>
                                        <mat-form-field>
                                            <mat-label>Pluriel</mat-label>
                                            <input type="text" class="text" matInput placeholder="Pluriel" formControlName='plural'>
                                        </mat-form-field>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

            <hr>

            <div *ngIf="!ingredientForm.value.id">
                <button (click)="add()" type="button" class="btn btn-primary"> Enregistrer </button>
            </div>

            <div *ngIf="ingredientForm.value.id">
                <button type="button" (click)="save()" class="btn btn-success"> Modifier </button>
                <button type="button" (click)="delete()" class="btn btn-danger"> Supprimer </button>
            </div>

        </form>

    </div>

</div>