<lsc-back-menu></lsc-back-menu>

<div class="clear gridHeader">
    <mat-form-field class="left">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-paginator class="right" [pageSizeOptions]="[25, 50, 100]"></mat-paginator>
    <button type="button" (click)="addUser()" class="btn btn-dark addButtonGrid right">Ajouter</button>
</div>

<div class="clear">

    <mat-table class="grid" #table [dataSource]="dataSource" matSort>
        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
            <mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                </mat-checkbox>
            </mat-cell>
        </ng-container>

        <!-- id Column -->
        <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef mat-sort-header> # </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- gender Column -->
        <ng-container matColumnDef="gender">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Civilité </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.gender}} </mat-cell>
        </ng-container>

        <!-- lastName Column -->
        <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
        </ng-container>

        <!-- firstName Column -->
        <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
        </ng-container>

        <!-- birthDate Column -->
        <ng-container matColumnDef="birthDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Date de naissance </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.birthDate}} </mat-cell>
        </ng-container>

        <!-- email Column -->
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.email }} </mat-cell>
        </ng-container>

        <!-- password Column -->
        <ng-container matColumnDef="password">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mot de passe </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.password}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="redirectOnDetail(row.id)">
        </mat-row>

    </mat-table>
</div>