<lsc-back-menu></lsc-back-menu>

<!-- <div *ngIf="!isLoading">
    <form [formGroup]="categoryForm"> -->

        <p>id</p>
        <mat-form-field>
            <input matInput placeholder="Title">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description">
        </mat-form-field>
        <p>Directions</p>
        <p>Proportions</p>
        <mat-form-field>
            <input matInput placeholder="Nombre de personne" type="number">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Temps de préparation" type="time">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Temps de cuisson" type="time">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Temps de total" type="time">
        </mat-form-field>
        <mat-slide-toggle> Publié </mat-slide-toggle>
        <mat-form-field>
            <input matInput placeholder="Note" type="number">
        </mat-form-field>
<!--     </form>
</div> -->