<lsc-back-menu></lsc-back-menu>

<p>recipe</p>
<pre>
    id: number; // Id
    title: string; // Titre
    description: string; // Petite description
    directions : Array&lt;string&gt;; // Etapes de préparation
    proportions: Array&lt;Proportion&gt;; // Quantité avec ingredients
    servings: number; // Nombre de personnes
    preparation: Date; // Temps de préparation
    cook: Date; // Temps de cuisson
    readyin: Date; // Prêt en combien de temps
    published : boolean; // Publié sur le site
    rating : number; // Notation
    author : Author;
</pre>
 