<lsc-back-menu></lsc-back-menu>

<div class="form">

    <h1>Recette</h1>
    <div *ngIf="!isLoading">

        <form [formGroup]="recipeForm" novalidate>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">Author </div>
                    <div class="col-lg-3">
                        <mat-slide-toggle placeholder="Publié" formControlName="published">Publié</mat-slide-toggle>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field>
                            <input disabled value="{{recipeForm.value.id}}" matInput type="number" placeholder="Id">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field>
                            <mat-label>Note</mat-label>
                            <input matInput placeholder="Note" formControlName="rating" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field>
                            <mat-label>Nombre de personnes</mat-label>
                            <input matInput placeholder="Nombre de personnes" formControlName="servings" type="number">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field>
                            <mat-label>Temps de préparation</mat-label>
                            <input matInput formControlName="preparation" placeholder="Temps de préparation" type="time">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field>
                            <mat-label>Temps de cuisson</mat-label>
                            <input matInput formControlName="cook" placeholder="Temps de cuisson" type="time">
                        </mat-form-field>
                    </div>
                    <div class="col-lg-3">
                        <mat-form-field>
                            <mat-label>Temps total</mat-label>
                            <input matInput formControlName="readyin" placeholder="Temps total" type="time">
                        </mat-form-field>
                    </div>
                    <div class="col-xs-12">
                        <mat-form-field>
                            <mat-select placeholder="Catégorie">
                                <mat-option *ngFor="let category of categories" [value]="category">
                                    {{ category.locale[this.languageService.getDefaultLanguageId()].title }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <button mat-icon-button color="accent" (click)="linkCategory()">
                            <i class="fa fa-plus mat-icon"></i>
                        </button>
                    </div>
                </div>
            </div>

            <hr>

            <h2>Proportions</h2>

            <mat-table class="table-margin-bottom" #table [dataSource]="dataSourceProportions">
                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef> Quantités </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div *ngIf="!row.editing">
                            {{row.currentData.quantity}}
                        </div>
                        <div *ngIf="row.editing">
                            <mat-form-field>
                                <input matInput [formControl]="row.validator.controls['quantity']" type="number" placeholder="Quantité" [(ngModel)]="row.currentData.quantity">
                            </mat-form-field>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="unit">
                    <mat-header-cell *matHeaderCellDef> Unités </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div *ngIf="!row.editing">
                            {{row.currentData.unit ? row.currentData.unit.locale[this.languageService.getDefaultLanguageId()].shorted : undefined }}
                        </div>
                        <div *ngIf="row.editing">
                            <mat-form-field>
                                <mat-select [(value)]="row.currentData.unit" [formControl]="row.validator.controls['unit']" [(ngModel)]="row.currentData.unit"
                                    placeholder="Unité">
                                    <mat-option [value]="undefined">
                                    </mat-option>
                                    <mat-option *ngFor="let unit of units" [value]="unit">
                                        {{ unit.locale[this.languageService.getDefaultLanguageId()].shorted }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ingredient">
                    <mat-header-cell *matHeaderCellDef> Ingrédients </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <div *ngIf="!row.editing">
                            {{row.currentData.ingredient ? row.currentData.ingredient.locale[this.languageService.getDefaultLanguageId()].title.singular
                            : undefined}}
                        </div>
                        <div *ngIf="row.editing">
                            <mat-form-field>
                                <mat-select [(value)]="row.currentData.ingredient" [formControl]="row.validator.controls['ingredient']" [(ngModel)]="row.currentData.ingredient"
                                    placeholder="Ingredient">
                                    <mat-option *ngFor="let ingredient of ingredients" [value]="ingredient">
                                        {{ ingredient.locale[this.languageService.getDefaultLanguageId()].title.singular }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="actionsColumn">
                    <mat-header-cell *matHeaderCellDef>
                        <button mat-icon-button color="accent" (click)="dataSourceProportions.createNew()">
                            <i class="fa fa-plus mat-icon"></i>
                        </button>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
                            <i class="fa fa-pencil-alt mat-icon"></i>
                        </button>
                        <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
                            <i class="fa fa-check mat-icon"></i>
                        </button>
                        <button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
                            <i class="fa fa-times mat-icon"></i>
                        </button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="proportionsColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: proportionsColumns;"></mat-row>
            </mat-table>

            <hr>

            <div formGroupName="locale">
                <mat-tab-group>
                    <mat-tab *ngFor="let language of implementedLanguages" formGroupName="{{language.id}}">
                        <ng-template mat-tab-label>
                            <div class="flag-icon {{ language.flag }}"></div>
                            <div>{{ language.label }}</div>
                        </ng-template>
                        <mat-card>

                            <mat-form-field>
                                <mat-label>Description</mat-label>
                                <input type="text" matInput placeholder="Description" formControlName='description'>
                            </mat-form-field>

                            <mat-form-field>
                                <mat-label>Titre</mat-label>
                                <input matInput placeholder="Titre">
                            </mat-form-field>

                            <mat-slide-toggle placeholder="available" formControlName="available">Disponible</mat-slide-toggle>

                        </mat-card>
                        <mat-card>
                            <mat-table class="table-margin-bottom" #table [dataSource]="directions[language.id]">

                                <ng-container matColumnDef="order">
                                    <mat-header-cell *matHeaderCellDef> Ordre </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <div *ngIf="!row.editing">
                                            {{row.currentData.order}}
                                        </div>
                                        <div *ngIf="row.editing">
                                            <mat-form-field>
                                                <input matInput [formControl]="row.validator.controls['order']" type="number" placeholder="Order" [(ngModel)]="row.currentData.order">
                                            </mat-form-field>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="description">
                                    <mat-header-cell *matHeaderCellDef> Instructions </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <div *ngIf="!row.editing">
                                            {{row.currentData.description}}
                                        </div>
                                        <div *ngIf="row.editing">
                                            <mat-form-field>
                                                <input matInput [formControl]="row.validator.controls['description']" type="text" placeholder="Instruction" [(ngModel)]="row.currentData.description">
                                            </mat-form-field>
                                        </div>
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actionsColumn">
                                    <mat-header-cell *matHeaderCellDef>
                                        <button mat-icon-button color="accent" (click)="directions[language.id].createNew()">
                                            <i class="fa fa-plus mat-icon"></i>
                                        </button>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row">
                                        <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
                                            <i class="fa fa-pencil-alt mat-icon"></i>
                                        </button>
                                        <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
                                            <i class="fa fa-check mat-icon"></i>
                                        </button>
                                        <button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
                                            <i class="fa fa-times mat-icon"></i>
                                        </button>
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="recipeDirectionColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: recipeDirectionColumns;"></mat-row>
                            </mat-table>
                        </mat-card>
                    </mat-tab>
                    <mat-tab label="Ajouter une langue" *ngIf="notImplementedLanguages.length > 0">
                        <mat-card>
                            <mat-form-field>
                                <mat-select placeholder="Langue" [(value)]="newLanguageId" (change)="addNewLanguage(newLanguageId)">
                                    <mat-option *ngFor="let language of notImplementedLanguages" [value]="language.id">
                                        {{ language.label }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-card>

                        <div formGroupName="{{newLanguageId}}" *ngIf="isNewLanguageReady">
                            <mat-card>

                                <mat-form-field>
                                    <mat-label>Description</mat-label>
                                    <input type="text" matInput placeholder="Description" formControlName='description'>
                                </mat-form-field>

                                <mat-form-field>
                                    <mat-label>Titre</mat-label>
                                    <input matInput placeholder="Titre">
                                </mat-form-field>

                                <mat-slide-toggle placeholder="available" formControlName="available">Disponible</mat-slide-toggle>

                            </mat-card>
                            <mat-card>
                                <mat-table class="table-margin-bottom" #table [dataSource]="directions[newLanguageId]">

                                    <ng-container matColumnDef="order">
                                        <mat-header-cell *matHeaderCellDef> Ordre </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <div *ngIf="!row.editing">
                                                {{row.currentData.order}}
                                            </div>
                                            <div *ngIf="row.editing">
                                                <mat-form-field>
                                                    <input matInput [formControl]="row.validator.controls['order']" type="number" placeholder="Order" [(ngModel)]="row.currentData.order">
                                                </mat-form-field>
                                            </div>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="description">
                                        <mat-header-cell *matHeaderCellDef> Instructions </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <div *ngIf="!row.editing">
                                                {{row.currentData.description}}
                                            </div>
                                            <div *ngIf="row.editing">
                                                <mat-form-field>
                                                    <input matInput [formControl]="row.validator.controls['description']" type="text" placeholder="Instruction" [(ngModel)]="row.currentData.description">
                                                </mat-form-field>
                                            </div>
                                        </mat-cell>
                                    </ng-container>

                                    <ng-container matColumnDef="actionsColumn">
                                        <mat-header-cell *matHeaderCellDef>
                                            <button mat-icon-button color="accent" (click)="directions[newLanguageId].createNew()">
                                                <i class="fa fa-plus mat-icon"></i>
                                            </button>
                                        </mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
                                                <i class="fa fa-pencil-alt mat-icon"></i>
                                            </button>
                                            <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate()">
                                                <i class="fa fa-check mat-icon"></i>
                                            </button>
                                            <button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete()">
                                                <i class="fa fa-times mat-icon"></i>
                                            </button>
                                        </mat-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="recipeDirectionColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: recipeDirectionColumns;"></mat-row>
                                </mat-table>
                            </mat-card>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

            <hr>

            <div *ngIf="!recipeForm.value.id">
                <button (click)="add()" type="button" class="btn btn-primary"> Enregistrer </button>
            </div>

            <div *ngIf="recipeForm.value.id">
                <button type="button" (click)="update()" class="btn btn-success"> Modifier </button>
                <button type="button" (click)="delete()" class="btn btn-danger"> Supprimer </button>
            </div>

        </form>

    </div>

    <hr>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Amélioration continue
            </mat-panel-title>
        </mat-expansion-panel-header>
        <ul>
            <li>Selection de la valeur de l ingredient a l edition</li>
            <li>Filtré la liste d ingredient par ceux existant</li>
            <li>Pouvoir organisé l ordre des ingredients</li>
            <li>Libellé multilingue</li>
            <li>Gérer correctement la langue</li>
            <li>Note en etoile</li>
            <li>Personne en bonhomme</li>
            <li>Ordre des directions</li>
        </ul>
    </mat-expansion-panel>

</div>