<lsc-back-menu></lsc-back-menu>

<div class="form">

  <h1>Utilisateurs</h1>
  <div *ngIf="!isLoading">

    <div>
      <form [formGroup]="userForm">
        <div class="row">
          <div class="col-4">
            <mat-form-field>
              <input disabled value="{{userForm.value.id}}" matInput type="number" placeholder="Identifiant ">
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="row justify-content-around">-->

        <div class="row">
          <div class="col-4">
            <mat-form-field class="example-full-width">
              <mat-select [(value)]="gender" placeholder="Civilité" formControlName="gender" id="gender">
                <mat-option></mat-option>
                <mat-option value="Monsieur">Monsieur</mat-option>
                <mat-option value="Madame">Madame</mat-option>
                <mat-option value="Mademoiselle">Mademoiselle</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nom" class="user lastName" formControlName="lastName" id="lastName">
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Prénom" class="user firstName" formControlName="firstName" id="firstName">
            </mat-form-field>
          </div>
        </div>
        <!-- <div class="row justify-content-around">-->
        <div class="row">
          <div class="col-4">
            <mat-form-field class="example-full-width">
              <input matInput [matDatepicker]="birthDate" placeholder="Date de naissance" formControlName="birthDate" id="birthDate">
              <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
              <mat-datepicker #birthDate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <!--<div class="row justify-content-around">-->
        <div class="row">
          <div class="col-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" class="user email" formControlName="email" id="email" type="email">
            </mat-form-field>
          </div>
          <!--   <div class="row justify-content-around">-->
          <div class="col-4">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Mot de passe" class="user password" formControlName="password" id="password" type="password">
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="userForm.value.id">
          <button type="button" (click)="save()" class="btn btn-success"> Modifier </button>
          <button type="button" (click)="delete()" class="btn btn-danger"> Supprimer </button>
        </div>
        <div *ngIf="!userForm.value.id">
          <button (click)="addUser(userForm.value)" type="button" class="btn btn-primary"> Enregistrer </button>
        </div>
      </form>
    </div>
  </div>

  <hr>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Amélioration continue
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li></li>
    </ul>
  </mat-expansion-panel>

</div>